body {
  margin: 0;
  padding: 0;
  background-color: #4b5049;
}
.banner {
  display: flex;
  justify-content: center;
  width: 100%;
}
.webDev {
  height: 75vh;
}
.nav_bar {
  position: sticky;
  top: 0;
  height: 71px;
  width: 100%;
  background-color: #697066;
  display: flex;
  flex-direction: row;
  padding: 0 5em;
}
.logo {
  width: 80px;
  height: 80px;
  margin: 20px;
}
.links {
  display: flex;
  gap: 65px;
  list-style: none;
  align-items: center;
}
.link {
  border-right: black 2px solid;
  padding-right: 60px;
  height: -webkit-fill-available;
  display: flex;
  align-items: center;
}
.content {
  height: 80vh;
  padding: 8px 8px 13px;
  width: 90%;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 30px;
  background: #0c4041;
  border: 1px solid #c5d0dc;
  border-radius: 8px;
  color: aliceblue;
}
